body {
    background-color: rgb(219, 249, 249);
    font-family: "comic sans MS", 'Courier New', Courier, monospace
}

p {
    text-align: justify;
    color: black;
}

h1 {
    text-align: center;
}
